= form_for @comment, :remote => true do |f|
  = f.text_area :body, :value => @comment.body
  %button{:class => "pull-right btn btn-mini btn-primary btn-comment-save"} OK
  %button{:class => "pull-right btn btn-mini btn-comment-cancel"} Cancel