%h3 People you follow
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th{:width => "50%"} Name
      %th
  %tbody

    - @people.each do |p|

      %tr
        %td
          = p.name.truncate 30
        %td
          = raw following_links(p)
