!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello from 1kpl.us, #{@user.name}
    %p
      Your OPML has been successfully imported! You can now start reading your favorite blogs and stuff.
      %br/
    %p
      To login to the site, just follow this link: #{@url}.
    %p Have fun reading, sharing, and commenting!
