<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to 1kpl.us, <%= @user.name %></h1>
    <p>
      You have successfully signed up to 1kpl.us,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Have fun reading, sharing, and commenting!</p>
  </body>
</html>