
%div#password-modal.modal.hide.fade
  = form_for("user", :url => user_password_path, :html => {:id => "password_form"}, :class => 'form-horizontal', :remote => true) do |f|
    %div.modal-header
      -#%a.close{'data-dismiss'=>:alert} ×
      %h3 Send new password
    %div.modal-body

      %div#user_password_box

      %fieldset
        .control-group

          %label.control-label{:for => "email"}
            E-mail:
            .controls
              %input#email.input-xlarge{:type => "text", :name => 'user[email]'}


    %div.modal-footer
      %a#password-submit-link-btn.btn.btn-primary Send
      %a#password-close-link-btn.btn Close