
%div#register-modal.modal.hide.fade
  = form_for("user", :url => registration_path(:user), :html => {:id => "register_form"}, :class => 'form-horizontal', :remote => true) do |f|
    %div.modal-header
      -#%a.close{'data-dismiss'=>:alert} ×
      %h3 Create account
    %div.modal-body

      %div#user_register_box

      %fieldset
        .control-group
          %label.control-label{:for => "user_name"}
            Name:
            .controls
              %input#user_name.input-xlarge{:type => "text", :name => 'user[name]'}

          %label.control-label{:for => "email"}
            E-mail:
            .controls
              %input#email.input-xlarge{:type => "text", :name => 'user[email]'}

          %label.control-label{:for => "password"}
            Password:
            .controls
              %input#password.input-xlarge{:type => "password", :name => 'user[password]'}

          %label.control-label{:for => "password_confirmation"}
            Password Confirmation:
            .controls
              %input#password_confirmation.input-xlarge{:type => "password", :name => 'user[password_confirmation]'}


          -#%input.hide{:type => "submit"}

        -#= link_to "Create new account", new_user_registration_path
        -#%br
        -#= link_to "Forgot your password?", new_password_path('user')

        %p

        = link_to user_omniauth_authorize_path(:facebook) do
          %i{:class => "icon-facebook-sign icon-dark auth-provider-icon"}
          Sign in or register via Facebook
        -#%br
        -#= link_to user_omniauth_authorize_path(:google_oauth2) do
        -#  %i{:class => "icon-google-plus-sign icon-dark auth-provider-icon"}
        -#  Sign in with Google

    %div.modal-footer
      %a#register-submit-link-btn.btn.btn-primary Register
      %a#register-close-link-btn.btn Close