<div class="request-container">
Stop sharing with {{username}}?
<br/>
<div class="request-btn-container">
<button class="btn btn-primary btn-block-follower" data-id="{{userid}}">OK</button>
</div>
</div>