<div class="request-container">
Send request to see items from {{username}}?
<br/>
<div class="request-btn-container">
<button class="btn btn-primary btn-request-follow" data-id="{{userid}}">OK</button>
</div>
</div>