<div class="request-container">
Stop receiving items shared by {{username}}?
<br/>
<div class="request-btn-container">
<button class="btn btn-primary btn-stop-following" data-id="{{userid}}">OK</button>
</div>
</div>