{{#if stream}}
  {{#unless anonymous}}
    <div class="nav pull-right">
      <li><a class="go-item-next"><i class="icon-dark icon-arrow-down"></i> Next</a></li>
      <li><a class="go-item-previous"><i class="icon-dark icon-arrow-up"></i> Previous</a></li>
      <li><a class="go-mark-all-read"><i class="icon-dark icon-bolt"></i> Mark all as read</a></li>
    </div>
  {{/unless}}
{{/if}}